<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>miniCloud</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.9.2/theme-chalk/index.css">
</head>
<body>
<div id="app" v-loading="loading">

    <h1>迷你云平台(V2.0-20220929)【仅供娱乐，还在开发，随时删库】</h1>

    <h2>使用说明</h2>
    <el-card>
        <div class="text item">SSH端口：22。<strong>需要手动加一条NAT规则才能够从外网访问。</strong></div>
        <div class="text item">出于安全考虑，外网仅放通dns和镜像站。但是不影响外网其他机器访问虚拟机的NAT端口。</div>
        <div class="text item">出于安全考虑，虚拟机仅支持公钥登录，不支持密码登录，请提前准备好公私钥对。</div>
        <div class="text item">AZ(Available Zone，可用区)：可以看成是一个机房或者一个集群。</div>
        <div class="text item">注意：仅供学习、测试，<strong>随时倒闭，请勿保存重要数据。</strong></div>
    </el-card>

    <h2>用户信息</h2>
    <el-card :data="userInfo">
        <div class="text item"><strong>用户名: </strong>{{ userInfo.name }}
            <el-tag type="info" size="small" v-if="userInfo.is_admin">管理员</el-tag>
        </div>
        <div class="text item"><strong>当前Tenant: </strong>
            <el-select size="small" v-model="userInfo.current_tenant" @change="changeTenant">
                <el-option v-for="tenant in userInfo.tenants" :value="tenant"></el-option>
            </el-select>
        </div>
        <div class="text item"><strong>
            <el-link type="warning" href="/logout">Click here to logout. (退出登录)</el-link>
        </strong></div>
    </el-card>

    <h2>可用资源</h2>
    <el-table :data="resources" style="width: 100%">
        <el-table-column prop="az" label="可用区"></el-table-column>
        <el-table-column prop="flavor" label="规格"></el-table-column>
        <el-table-column prop="arch" label="CPU架构"></el-table-column>
        <el-table-column prop="performance" label="单核性能参考（越大越好）"></el-table-column>
        <el-table-column prop="cpu" label="CPU核心数"></el-table-column>
        <el-table-column prop="mem" label="内存大小（MB）"></el-table-column>
        <el-table-column prop="remain" label="可创建实例数量"></el-table-column>
    </el-table>

    <h2>虚拟机列表</h2>
    <el-table :data="vmList" style="width: 100%">
        <el-table-column prop="uuid" label="ID"></el-table-column>
        <el-table-column prop="instance_name" label="虚拟机名字"></el-table-column>
        <el-table-column prop="ip" label="IP"></el-table-column>
        <el-table-column prop="gateway" label="出口IP"></el-table-column>
        <el-table-column prop="flavor" label="规格"></el-table-column>
        <el-table-column prop="os" label="操作系统"></el-table-column>
        <el-table-column prop="az" label="所在可用区"></el-table-column>
        <el-table-column prop="create_user" label="创建用户"></el-table-column>
        <el-table-column prop="stage" label="状态"></el-table-column>
    </el-table>

    <h2>NAT列表</h2>
    <el-table :data="natList" style="width: 100%">
        <el-table-column prop="uuid" label="ID"></el-table-column>
        <el-table-column prop="internet_ip" label="外网IP"></el-table-column>
        <el-table-column prop="internal_ip" label="虚拟机IP"></el-table-column>
        <el-table-column prop="external_port" label="外网端口"></el-table-column>
        <el-table-column prop="internal_port" label="内网端口"></el-table-column>
        <el-table-column prop="protocol" label="协议"></el-table-column>
        <el-table-column prop="create_user" label="创建用户"></el-table-column>
        <el-table-column prop="stage" label="状态"></el-table-column>
    </el-table>

    <h2>出口列表</h2>
    <el-table :data="gatewayList" style="width: 100%">
        <el-table-column prop="uuid" label="ID"></el-table-column>
        <el-table-column prop="internet_ip" label="IP"></el-table-column>
        <el-table-column prop="bandwidth" label="带宽(Mbps)"></el-table-column>
        <el-table-column prop="description" label="描述"></el-table-column>
    </el-table>

    <h2>子网列表</h2>
    <el-table :data="subnetList" style="width: 100%">
        <el-table-column prop="uuid" label="ID"></el-table-column>
        <el-table-column prop="cidr" label="CIDR"></el-table-column>
    </el-table>

    <h2>创建虚拟机</h2>
    <el-form :inline="true" :model="formCreateInstance">
        <el-form-item label="创建虚拟机"></el-form-item>
        <el-form-item label="">
            <el-input v-model="formCreateInstance.instance_name" placeholder="虚拟机名字"></el-input>
        </el-form-item>
        <el-form-item label="">
            <el-select v-model="formCreateInstance.os" placeholder="操作系统">
                <el-option v-for="os in osList" :value="os"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="">
            <el-select v-model="formCreateInstance.az" placeholder="AZ(可用区)">
                <el-option v-for="az in azList" :value="az"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="">
            <el-select v-model="formCreateInstance.flavor" placeholder="虚拟机配置">
                <el-option v-for="flavor in flavorList" :value="flavor"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="">
            <el-select v-model="formCreateInstance.subnet" placeholder="子网">
                <el-option v-for="item in subnetList" :key="item.cidr" :label="item.cidr" :value="item.uuid"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="">
            <el-select v-model="formCreateInstance.gateway" placeholder="出口IP">
                <el-option v-for="item in gatewayList" :key="item.internet_ip" :label="item.internet_ip" :value="item.internet_ip"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="">
            <el-input v-model="formCreateInstance.username" placeholder="用户名"></el-input>
        </el-form-item>
        <el-form-item label="">
            <el-input style="width:500px" v-model="formCreateInstance.pubkey" placeholder="登录公钥：请输入ssh-rsa开头的公钥，如ssh-rsa AAAAB3NzaC1..."></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="createInstance">创建</el-button>
        </el-form-item>
    </el-form>


    <h2>虚拟机管理</h2>
    <el-form :inline="true" :model="formManageInstance">
        <el-form-item label="虚拟机ID">
            <el-input v-model="formManageInstance.vm_uuid" placeholder="虚拟机ID"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="success" @click="optInstance('start')">开机</el-button>
        </el-form-item>
        <el-form-item>
            <el-button type="danger" @click="optInstance('shutdown')">关机</el-button>
        </el-form-item>
        <!--        <el-form-item>-->
        <!--            <el-button type="warning" @click="optInstance('reboot')">重启</el-button>-->
        <!--        </el-form-item>-->
        <!--        <el-form-item label="修改出口IP">-->
        <!--            <el-select v-model="formManageInstance.gateway_internet_ip" placeholder="出口IP">-->
        <!--                <el-option v-for="item in gatewayList" :key="item.internet_ip" :label="item.internet_ip" :value="item.internet_ip"></el-option>-->
        <!--            </el-select>-->
        <!--        </el-form-item>-->
        <!--        <el-form-item>-->
        <!--            <el-button type="warning" @click="optInstance('setGateway')">确定修改</el-button>-->
        <!--        </el-form-item>-->
        <el-form-item>
            <el-button type="danger" @click="optInstance('delete')">删除虚拟机</el-button>
        </el-form-item>
    </el-form>

    <h2>端口映射（NAT）管理</h2>
    <el-form :inline="true" :model="formCreateNat">
        <el-form-item label="创建端口映射（NAT）"></el-form-item>
        <el-form-item label="">
            <el-select v-model="formCreateNat.protocol" placeholder="协议">
                <el-option label="TCP" value="tcp"></el-option>
                <el-option label="UDP" value="udp"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="">
            <el-select v-model="formCreateNat.internet_ip" placeholder="外网IP（出口IP）">
                <el-option v-for="item in gatewayList" :key="item.internet_ip" :label="item.internet_ip" :value="item.internet_ip"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="">
            <el-select v-model="formCreateNat.internal_ip" placeholder="内网IP（虚拟机IP）">
                <el-option v-for="item in vmList" :key="item.ip" :label="item.ip" :value="item.ip"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="">
            <el-input v-model="formCreateNat.external_port" onkeyup="value=value.replace(/[^\d]/g,'')" placeholder="外网端口"></el-input>
        </el-form-item>
        <el-form-item label="">
            <el-input v-model="formCreateNat.internal_port" onkeyup="value=value.replace(/[^\d]/g,'')" placeholder="内网端口"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="createNat">创建</el-button>
        </el-form-item>
    </el-form>
    <el-form :inline="true" :model="formManageNat">
        <el-form-item label="删除端口映射（NAT）"></el-form-item>
        <el-form-item label="">
            <el-input v-model="formManageNat.uuid" placeholder="NAT ID"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="danger" @click="deleteNat">删除</el-button>
        </el-form-item>
    </el-form>

    <h2>子网管理</h2>
    <el-form :inline="true" :model="formCreateSubnet">
        <el-form-item label="创建子网">
            <el-input v-model="formCreateSubnet.mask" onkeyup="value=value.replace(/[^\d]/g,'')" placeholder="子网掩码长度，如24"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="createSubnet">创建</el-button>
        </el-form-item>
    </el-form>
    <el-form :inline="true" :model="formManageSubnet">
        <el-form-item label="删除子网">
            <el-input v-model="formManageSubnet.uuid" placeholder="子网 ID"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="danger" @click="deleteSubnet">删除</el-button>
        </el-form-item>
    </el-form>

</div>
</body>

<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script><!-- import Vue before Element -->
<script src="https://cdn.bootcss.com/element-ui/2.9.2/index.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
<script>
new Vue({
    el: '#app',
    data: {
        loading: false,
        userInfo: {name: '', is_admin: false, current_tenant: '', tenants: []},
        resources: null,
        azList: null,
        flavorList: null,
        osList: null,
        vmList: null,
        gatewayList: null,
        natList: null,
        subnetList: null,
        formCreateInstance: {
            gateway: '',
            instance_name: '',
            subnet: '',
            os: '',
            flavor: '',
            az: ''
        },
        formManageInstance: {
            vm_uuid: '',
            gateway_internet_ip: '',
        },
        formCreateNat: {
            internet_ip: '',
            internal_ip: '',
            external_port: '',
            internal_port: '',
            protocol: ''
        },
        formManageNat: {
            uuid: '',
        },
        formCreateSubnet: {
            mask: '',
        },
        formManageSubnet: {
            uuid: '',
        },
    },
    mounted: function() {
        var that = this;
        this.updateStatus();
        this.timer = setInterval(this.updateStatus, 10000);
    },
    methods: {
        updateStatus: function() {
            var that = this;
            axios.get('/api/user_info').then(function(response) {
                console.log(response);
                that.userInfo = response["data"];
            }).
            catch(function(error) {
                console.log(error);
            });
            axios.get('/api/resources').then(function(response) {
                console.log(response);
                that.resources = response["data"]["resources"];
                that.azList = response["data"]["az_list"];
                that.flavorList = response["data"]["flavor_list"];
                that.osList = response["data"]["os_list"];
            }).
            catch(function(error) {
                console.log(error);
            });
            axios.get('/api/vm').then(function(response) {
                console.log(response);
                that.vmList = response["data"];
            }).
            catch(function(error) {
                console.log(error);
            })
            axios.get('/api/gateway').then(function(response) {
                console.log(response);
                that.gatewayList = response["data"];
            }).
            catch(function(error) {
                console.log(error);
            })
            axios.get('/api/nat').then(function(response) {
                console.log(response);
                that.natList = response["data"];
            }).
            catch(function(error) {
                console.log(error);
            })
            axios.get('/api/subnet').then(function(response) {
                console.log(response);
                that.subnetList = response["data"];
            }).
            catch(function(error) {
                console.log(error);
            })
        },
        changeTenant() {
            this.loading = true;
            var that = this;
            axios.post('/api/change_tenant', {tenant: that.userInfo.current_tenant}).then(function(response) {
                console.log(response);
                that.updateStatus();
            }).
            catch(function(error) {
                console.log(error);
                alert(error.response.data);
            }).
            finally(function() {
                that.loading = false;
            })
        },
        createInstance() {
            this.loading = true;
            var that = this;
            alert("点击确定开始创建，大约需要两分钟，请耐心等候。如果卡了很久或创建失败，可以刷新页面，删掉虚拟机重试。虚拟机创建成功后需要两分钟初始化，之后才能通过SSH连上。");
            axios.post('/api/vm', that.formCreateInstance).then(function(response) {
                console.log(response);
                if (response['status'] != 201) alert(response['data']);
                else alert("创建成功！");
                that.updateStatus();
            }).
            catch(function(error) {
                console.log(error);
                alert(error.response['data']);
            }).
            finally(function() {
                that.loading = false;
            })
        },
        optInstance(opt) {
            this.loading = true;
            var that = this;
            if (opt == "delete") {
                axios.delete('/api/vm/' + that.formManageInstance.vm_uuid).then(function(response) {
                    console.log(response);
                    if (response['status'] != 204) alert(response['data']);
                    else alert("执行成功！");
                    that.updateStatus();
                }).
                catch(function(error) {
                    console.log(error);
                    alert(error.response['data']);
                }).
                finally(function() {
                    that.loading = false;
                })
            } else if (opt == "setGateway") {
                axios.put('/api/route', that.formManageInstance).then(function(response) {
                    console.log(response);
                    if (response['data'] != "") alert(response['data']);
                    else alert("执行成功！");
                    that.updateStatus();
                }).
                catch(function(error) {
                    console.log(error);
                    alert(error.response['data']);
                }).
                finally(function() {
                    that.loading = false;
                })
            } else if (opt == "start") {
                axios.get('/api/vm/' + that.formManageInstance.vm_uuid + '/start').then(function(response) {
                    console.log(response);
                    if (response['data'] != "") alert(response['data']);
                    else alert("执行成功！");
                    that.updateStatus();
                }).
                catch(function(error) {
                    console.log(error);
                    alert(error.response['data']);
                }).
                finally(function() {
                    that.loading = false;
                })
            } else if (opt == "shutdown") {
                axios.get('/api/vm/' + that.formManageInstance.vm_uuid + '/shutdown').then(function(response) {
                    console.log(response);
                    if (response['data'] != "") alert(response['data']);
                    else alert("执行成功！");
                    that.updateStatus();
                }).
                catch(function(error) {
                    console.log(error);
                    alert(error.response['data']);
                }).
                finally(function() {
                    that.loading = false;
                })
            } else if (opt == "reboot") {
                axios.get('/api/vm/' + that.formManageInstance.vm_uuid + '/reboot').then(function(response) {
                    console.log(response);
                    if (response['data'] != "") alert(response['data']);
                    else alert("执行成功！");
                    that.updateStatus();
                }).
                catch(function(error) {
                    console.log(error);
                    alert(error.response['data']);
                }).
                finally(function() {
                    that.loading = false;
                })
            }
        },
        createNat() {
            this.loading = true;
            var that = this;
            axios.post('/api/nat', that.formCreateNat).then(function(response) {
                console.log(response);
                if (response['status'] != 201) alert(response['data']);
                else alert("创建成功！");
                that.updateStatus();
            }).
            catch(function(error) {
                console.log(error);
                alert(error.response.data);
            }).
            finally(function() {
                that.loading = false;
            })
        },
        deleteNat() {
            this.loading = true;
            var that = this;
            axios.delete('/api/nat/' + that.formManageNat.uuid).then(function(response) {
                console.log(response);
                if (response['status'] != 204) alert(response['data']);
                else alert("执行成功！");
                that.updateStatus();
            }).
            catch(function(error) {
                console.log(error);
                alert(error.response['data']);
            }).
            finally(function() {
                that.loading = false;
            })
        },
        createSubnet() {
            this.loading = true;
            var that = this;
            axios.post('/api/subnet', that.formCreateSubnet).then(function(response) {
                console.log(response);
                if (response['status'] != 201) alert(response['data']);
                else alert("创建成功！");
                that.updateStatus();
            }).
            catch(function(error) {
                console.log(error);
                alert(error.response.data);
            }).
            finally(function() {
                that.loading = false;
            })
        },
        deleteSubnet() {
            this.loading = true;
            var that = this;
            axios.delete('/api/subnet/' + that.formManageSubnet.uuid).then(function(response) {
                console.log(response);
                if (response['status'] != 204) alert(response['data']);
                else alert("执行成功！");
                that.updateStatus();
            }).
            catch(function(error) {
                console.log(error);
                alert(error.response['data']);
            }).
            finally(function() {
                that.loading = false;
            })
        },
    }
})





</script>
</html>